@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #02a8e6;
  transition: .2s all;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #0187c6;
}

ul {
  list-style: none;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
  
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6,p,time { font-size: 14px; }

.container { 
  min-height: 80vh;
}

header img {
  width: 30px;
  margin-right: 12px;
}

.navbar-brand {
  font-size: 30px;
}

.create-post form{
  display: flex;
  flex-direction: column;
}



/* -- Posts -- */
.card { 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 17rem;
  border-radius: 8px;
}

.card img { 
  width: 100%;
  height: 160px; 
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}

.latest-section .card {
  width: 100% !important;

  height: 100% !important;
}

.latest-section .card img{
  height: 250px; 
}


.older-section {
  gap: 16px; /* Spacing between cards */
 
}
 

/* -- Post Page -- */
.post-page h1 {
  border-left: 4px solid #e43e3e;
  padding-left: 12px;
}

.post-page h2 {
  border-left: 4px solid #0187c6;
  padding-left: 12px;
}

time{
  border-bottom: 2px solid #e43e3e;
  padding-bottom: 4px;
}
 

.post-page img {
  width: 100%;
  height: 50vh;
  object-fit:cover;
  object-position: center;
}

 .delete-btn, 
 .edit-btn {
  outline: none;
  border: none;
  font-size: 20px;
  width: 32px;
  height: 32px;
  background-color: #e43e3e;
  border-radius: 8px;
  transition: .2s all ;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .delete-btn:hover{ background-color: #c02c2c; }
 .edit-btn { background-color: #02a8e6; }
 .edit-btn:hover {
  background-color: #0187c6;
  color: #111;
 }
 
 .dlt-acc-btn { color: #e43e3e; transition: .3s ease all;}
 .dlt-acc-btn:hover { color: #a82525;}
 
  @media screen and (max-width: 768px) {
    .post-page img {
      height: 30vh;
    }

    .navbar {
      padding: 8px 16px !important;
    }

  }
 
  .header {
    height: 30vh;
    background-color: #a82525 !important;
    width: 100vw !important;
    padding-top: 0px !important;
    margin-top: 0 !important;
  }

  .scroll-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #0187c6;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .scroll-to-top.visible {
    display: flex;
  }
