@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #02a8e6;
  transition: .2s all;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #0187c6;
}

ul {
  list-style: none;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
 
}

.container { 
  min-height: 80vh;
}


/* --  -- */
 
 
.posts {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 16px;
}

.card { 
  width: 18rem !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post img{
  width: 100%;
  height: 160px; 
  object-fit: cover;
  object-position: center;
  margin-bottom: 8px;
}

.post-page img {
  width: 100%;
  height: 50vh;
  object-fit:cover;
  object-position: center;
}

 .delete-btn {
  outline: none;
  border: none;
  
  padding: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #e35656;
  border-radius: 4px;
  transition: .2s all ;
 }

 .delete-btn:hover{
  color: #e43e3e;
  
 
 }
 


.create-post form{
  display: flex;
  flex-direction: column;
}

header img {
  width: 30px;
  margin-right: 12px;
}

.navbar-brand {
  font-size: 30px;
}

.post-page h2 {
  border-left: 4px solid #e43e3e;
  padding-left: 12px;
}
 

@media screen and (max-width: 768px) {
  .post-page img {
    
    height: 30vh;
 
  }
}

 